<!-- Html de la parte de Info de la empresa-->
{% extends "administracion/index.html" %}

{% block titulo %}
<header class="display-4 fw-bolder text-white mb-2 text-center w-100">Acerca de mi </header>
<p class="display-7  text-white mb-2 text-center w-100">Martino De Ninis</p>
{% endblock titulo %}

{% block contenido %}
    <main>
        <section id="about">
            <div class="container">
                <h2>Yo</h2>
                <p>Hola! Me llamo Martino De Ninis, tengo 20 años y actualmente soy estudiante de la UBA en Ingenieria en Informatica. Inicie este curso por mero placer mio para tener otra cosa que hacer ademas del estudio y la verdad me gusto mucho.
                En cuanto a la pagina, la idea es pura y exclusivamente un prototipo de algo que siempre quise hacer para ayudar a mi papa en el trabajo. El cuenta con una distribuidora de harinas que se limita a un grupo de gente muy cerrado, asi que nunca le dio mucha importancia al marketing mas digital, pero siempre quizo empezar, asi que tome esa iniciativa como idea para mi proyecto.
                En el Readme van a poder encontrar mas informacion acerca de la pagina, pero en resumen, esta hecha como un intento de ayuda a mi padre, la cual pienso seguir moldeando hasta que pueda servir de algo mas util para el.
                </p>
        </section>

        <section id="services">
            <div class="container">
                <h2>CoderHouse</h2>
                <p>La verdad que entre a Coderhouse por placer y por buenas reseñas que tenian y me fui muy satisfecho, nunca tuve ningun problema con ningun profesor ni tutor y en mi opinion las clases fueron muy buenas y muy interesantes
                    recomendaria al 100%. 
                </p>
            </div>
        </section>
    <footer>
        <div class="container">
            <p>&copy; 2024 Harinas Del Norte. Todos los derechos reservados.</p>
        </div>
    </footer>
{% endblock contenido %}
