<!-- HTML para buscar productos en la pagina-->
{%  extends "administracion/index.html" %}


{% block titulo %}
<header class="display-4 fw-bolder text-white mb-2 text-center w-100">Buscar Productos</header>
{% endblock titulo %}


{% block contenido %}
<form action="{% url 'encontrarproductos' %}" method="get">
    {% csrf_token %}
    <table>
        <p>Ingrese condicion de busqueda: <input type="text" name="buscar" id="buscar"></p>
    </table>
    <input type="submit" value="Buscar">
</form>
{% endblock contenido %}
