<!-- Html Contacto-->

{% extends "administracion/index.html" %}

{% block titulo %}
    <header class="display-4 fw-bolder text-white mb-2 text-center w-100">Contacto</header>
    <p class="display-7 text-white mb-2 text-center w-100">Harinas Del Norte</p>
{% endblock titulo %}

{% block contenido %}
    <main>
        <section id="contact">
            <div class="container">
                <h2>Información de Contacto</h2>
                <p>Para comunicarte con nosotros, puedes usar los siguientes medios:</p>
                <ul>
                    <li><strong>Teléfono:</strong> 11 73847128134</li>
                    <li><strong>Email:</strong> info@harinasdelnorte.com</li>
                    <li><strong>Dirección:</strong> Av. Bartolomé Mitre 1160, Florida, Vte. López</li>
                </ul>

        </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 Harinas Del Norte. Todos los derechos reservados.</p>
        </div>
    </footer>
{% endblock contenido %}




